@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-bold;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf");
}
body {
    font-family: Roboto-Regular, sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 34px;
    letter-spacing: -0.19px;
    border-bottom: 4px solid #00A0DF;
}
.transparent-navbar {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    box-shadow: 1px 5px black;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}
.entando-navbar-fixed {
    height: 32px;
    background: transparent;
    position: absolute;
    width: 100%;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 1019;
    color: #fff;
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
h1,h1 p,.h1 p {
    font-family: Roboto-bold, sans-serif;
    color: #000;
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 0;
    letter-spacing: -0.65px;
    line-height: 74px;
}
h2,h2 p,.h2 p,.text-card h2 p {
    font-family: Roboto-bold, sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: -0.66px;
    line-height: 66px;
}
h3,h3 p,.h3 p {
    font-family: Roboto-Light, sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.56px;
    line-height: 46px;
}
h4,h4 p,.h4 p {
    font-family: Roboto-Light, sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: -0.56px;
    line-height: 36px;
}
p {
    color: #4D4D4D;
    font-family: Roboto-Regular, sans-serif;
    font-size: 20px;
    letter-spacing: -0.19px;
    line-height: 34px;
}
p.subtitleH1,p.subtitleH1 p,div.subtitleH1 p,div.subtitleH1 {
    color: #000;
    font-size: 26px;
    letter-spacing: -0.24px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
}
p.subtitleH2,p.subtitleH2 p,div.subtitleH2 p,div.subtitleH2 {
    color: #000;
    font-size: 22px;
    letter-spacing: -0.2px;
    line-height: 35px;
    text-align: center;
}
p.medium,p.medium p,div.medium,div.medium p {
    font-family: Roboto-Regular, sans-serif;
    color: #4D4D4D;
    font-size: 18x;
    letter-spacing: -0.17px;
    line-height: 30px;
}
p.little,p.little p {
    font-family: Roboto-Regular, sans-serif;
    color: #4D4D4D;
    font-size: 22px;
    letter-spacing: -0.15px;
    line-height: 30px;
}
button:focus {
    outline: 0;
}
strong {
    font-weight: 900;
}
a {
    transition: all 0.3s ease;
}
.entando-container {
    max-width: 85%;
    position: relative;
}
.entando-navbar-up {
    background: transparent;
}
.entando-navbar-up-white {
    height: 32px;
    background: #002F87;
    line-height: 32px;
    color: #fff;
    font-size: 12px;
}
.entando-navbar-menu {
    position: absolute;
    right: 14%;
}
.entando-navbar-cta {
    position: absolute;
    right: 15px;
}
.entando-language a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.entando-central a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 1rem;
}
.entando-navbar {
    background: transparent;
    height: 86px;
    margin-top: 2px;
}
.entando-navbar-white {
    background: #003087;
}
.navbar-brand {
    height: 50px;
    width: 193px;
    background: url("../img/Entando_Logo_White_Blue.svg");
    background-repeat: no-repeat;
}
#entando-toogle-button {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#entando-toogle-button input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#entando-toogle-button span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#entando-toogle-button span:first-child {
    transform-origin: 0% 0%;
}
#entando-toogle-button span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
#entando-toogle-button input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-9px, -13px);
    background: #ffffff;
}
#entando-toogle-button input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#entando-toogle-button input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-7px, 11px);
}
.navbar-expand-lg .entando-navbar-menu a.nav-link {
    padding-right: 10px;
    padding-left: 10px;
}
.nav-link.no-son-page {
    display: block;
    padding: 0;
}
.entando-navbar-menu a.nav-link {
    color: #ffffff;
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    outline: none;
    display: inherit;
}
.entando-navbar-menu a.nav-link span,.entando-footer-container-content a.entando-footer-title span {
    display: none;
}
.entando-footer ul.dropdown-menu {
    border-radius: 0;
    border: none;
}
.entando-navbar-menu li.active::after {
    background: #00a0df;
    color: #00a0df;
    bottom: 0;
    content: '';
    display: block;
    left: 5%;
    position: absolute;
    width: 80%;
    height: 2px;
}
.entando-navbar-menu li::after {
    transition: all 0.3s ease;
    background: transparent;
    bottom: 0;
    content: '';
    display: block;
    left: 5%;
    position: absolute;
    width: 0%;
    height: 2px;
}
.entando-navbar-menu li:hover::after {
    background: #00a0df;
    bottom: 0;
    content: '';
    display: block;
    left: 10px;
    position: absolute;
    width: 80%;
    height: 2px;
}
.entando-navbar-menu .dropdown-menu {
    z-index: 0;
    display: none;
    float: left;
    min-width: 10rem;
    font-size: 1rem;
    color: #ffffff;
    list-style: none;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    top: 60px;
    left: 10px;
    width: 218px;
}
.entando-navbar-menu .dropdown-menu a {
    color: #ffffff;
}
.entando-navbar-menu .dropdown-menu a {
    color: #003086;
    text-transform: uppercase;
    font-size: 14px;
}
.entando-navbar-menu .dropdown-item:focus,.entando-navbar-menu .dropdown-item:hover {
    color: #003086;
    text-decoration: none;
    background-color: #fff;
}
.btn-entando-quote {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #002F87;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 0px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    letter-spacing: -0.15px;
    padding: 0 10px;
    z-index: -1;
}
.btn-entando-quote:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.btn-entando-quote:focus {
    outline: none;
}
.btn-entando-quote {
    background-image: linear-gradient( to bottom, #FFCD35, #ffac20, #ff9e18);
}
.entando-navbar-menu .dropdown-toggle::after {
    display: none;
}
.entando-navbar-menu .navbar-expand-lg .navbar-nav .nav-link {
    outline: none;
}
.login-form-container .form-group input::-webkit-input-placeholder {
    color: #002F87;
    font-size: 18px}
.login-form-container .form-group input::placeholder {
    color: #002F87;
    font-size: 18px}
.login-form-container .form-group input:-ms-input-placeholder {
    color: #002F87;
    font-size: 18px}
.login-form-container .form-group::-ms-input-placeholder {
    color: #002F87;
    font-size: 18px}
input[type=checkbox] {
    position: relative;
    cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    left: 0;
    border: 1px solid #002F87;
    border-radius: 0;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: #002F87;
    border: solid 007bff;
    border-width: 0 0px 1px 0;
    position: absolute;
    top: 0px;
    left: 3px;
}
.login-form-container {
    background: transparent url(../img/background_login_form.png) no-repeat fixed center;
    border: 1px solid white;
}
.login-form-container .login-form {
    background: #FFFFFF;
    width: 100%;
    max-width: 653px;
    padding: 50px;
    margin: 2rem auto;
}
.login-form-container .login-form p {
    font-size: 18px;
}
.login-form-container .container-logo-img {
    margin-top: 20px;
    text-align: center;
}
.login-form-container .container-logo-img img {
    height: 58px;
    width: 223px;
}
.login-form-container .login-form-partner-info {
    margin-top: 35px;
    margin-bottom: 48px;
    padding: 20px;
    text-align: center;
}
.login-form-container .form-group input {
    height: 59px;
    width: 100%;
    max-width: 553px;
}
.login-form-container .form-group input.form-control {
    border: 1px solid #002F87;
}
.login-form-container form input[type=submit].btn-login-form {
    margin-top: 30px;
    width: 170px;
    height: 50px;
    background-color: #002F87;
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
}
.login-form-container form input[type=submit].btn-login-form:hover {
    background: #1D6DFF;
}
.login-form-container .back-homepage {
    margin-top: 2rem;
}
.entando-login {
    margin-left: 1rem;
}
.entando-login a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.entando-login svg {
    margin-left: .3rem;
}
.entando-login .dropdown-menu {
    z-index: 9999;
    border: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 0;
    text-align: center;
    padding: 14px 29px;
}
.entando-login .entando-login-logout {
    height: 19px;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.15px;
    line-height: 19px;
    margin-bottom: 16px;
}
.entando-login-no {
    height: 41px;
    width: 72px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.15px;
    line-height: 28px;
    text-align: center;
    border: 2px solid #003086;
    border-radius: 0;
}
a.entando-login-no {
    color: #003086;
}
.entando-login-yes {
    height: 41px;
    width: 72px;
    background: #003086;
    font-weight: 700;
    letter-spacing: -0.15px;
    line-height: 28px;
    text-align: center;
    border: 2px solid #003086;
    border-radius: 0;
}
.entando-login-no:hover {
    background: #003086;
    letter-spacing: -0.15px;
    line-height: 28px;
    border: 2px solid #003086;
    border-radius: 0;
}
a.entando-login-no:hover {
    color: #fff;
}
.entando-login-yes:hover {
    background: #fff;
    letter-spacing: -0.15px;
    line-height: 28px;
    border: 2px solid #003086;
    border-radius: 0;
}
a.entando-login-yes:hover {
    color: #003086;
}
a.entando-login-yes {
}
.entando-login .nav-link {
    display: inherit;
    padding: .5rem 0 0 1rem;
}
.entando-login a.nav-link span {
    display: none;
}
.entando-login .dropdown-toggle::after {
    display: none;
}
.entando-login svg {
    margin-left: 1rem;
}
.entando-login img {
    margin-left: .2rem;
}
.entando-navbar-menu .dropdown,.dropleft,.dropright,.dropup {
    position: relative;
    height: 50px;
}
.entando-banner {
    position: relative;
    margin-top: -12rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15.5rem 1rem 9rem;
}
.entando-banner h1 {
    color: #fff;
}
.entando-banner p {
    color: #fff;
    font-size: 26px;
    letter-spacing: -0.24px;
    line-height: 35px;
    animation: yourAnimation4 1.3s forwards .2s ease;
}
.entando-banner img {
    position: relative;
    width: 100%;
    padding: 0 0 0 10%;
    margin-top: -91px;
}
.entando-banner-bkgImage {
}
.entando-banner-lateralImage {
}
.entando-banner-links {
    margin-top: 35px;
}
.entando-banner-btn {
    width: 248px;
    margin-right: 14px;
    background: linear-gradient(180deg, #00CEF1 0%, #00A0DF 100%);
    padding: 20px 10px;
    height: 59px;
    line-height: 59px;
}
.entando-banner-btn:hover {
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.entando-banner-btn:nth-child(2) {
    width: 248px;
    border: 2px solid #00A0DF;
    background: transparent;
    padding: 18px 10px;
}
a.entando-banner-btn {
    color: #FFFFFF;
    font-family: Roboto-regular;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.paragrafo-box {
}
.entando-banner-text-wrapper {
    padding: 0 10% 0 0;
}
.entando-banner-lateralImage {
    background-repeat: no-repeat;
    background-size: contain;
}
.center {
    display: flex;
    max-width: 85%;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}
.content-right {
    width: 55%;
    overflow: hidden;
}
.content-left {
    width: 45%;
    overflow: hidden;
}
.intro-content {
}
.intro-content .margin {
    padding: 70px 11px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.intro-content .box-center {
    display: flex;
    align-items: center;
    height: 100%;
}
.intro-content .paragrafo-box .img_bkg_dx figure img {
    margin: 0 auto;
}
.image-background {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.bottom-left {
    bottom: 0;
    position: absolute;
    left: 28px;
}
.top-right {
    transform: rotate(180deg);
    position: absolute;
    right: 28px;
}
.entando-centered-banner-writings {
    position: relative;
    padding: 0 4rem;
}
.entando-centered-banner-writings.bg-blue h2,.entando-centered-banner-writings.bg-blue h2 p {
    color: #fff;
    padding: 1rem 2rem;
}
.entando-centered-banner-writings.bg-clear h2,.entando-centered-banner-writings.bg-clear h2 p {
    color: #000;
}
.white-writing .entando-centered-banner-writings.bg-clear h2,.white-writing .entando-centered-banner-writings.white-writing h2 p {
    color: #fff;
}
.entando-centered-banner .intro-content {
    color: #203752;
    padding: 4rem 0;
}
.entando-centered-banner {
    text-align: center;
    padding: 90px 8rem;
}
.paragrafo-box h3 {
    color: #0541B2;
}
.generic-banners {
    padding: 90px 8rem;
}
.generic-banners .img_right img,.generic-banners .img_left img {
    height: 40vh;
    max-width: 97%;
}
 /* {
    height: 500px;
} */
.generic-banners .immagineSinistra {
    padding: 0 18px;
}
.generic-banners .intro-content .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin-bottom: 20px;
}
.generic-banners .text-card .line_title,.generic-banners .image-centered .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin-bottom: 20px;
    margin: 0 auto 20px;
}
.generic-banners .background h2,.background p {
    color: #fff;
}
.generic-banners .paragrafo-flex {
    display: flex;
    justify-content: center;
    margin: 0 4px;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}
.text-card h4,.text-card h4 p {
    color: #002F87;
    font-size: 30px;
    line-height: 36px;
}
.text-card p {
    font-size: 18px;
    letter-spacing: -0.17px;
    line-height: 30px;
    color: #838383;
    position: relative;
}
.text-card h2 p {
    bottom: 0;
}
.generic-banners .card {
    min-height: 240px;
    width: 27%;
    padding: 20px 20px;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease;
    text-align: left;
    position: relative;
    margin: 15px;
}
.generic-banners .card-gray {
    min-height: 237px;
    width: 27%;
    padding: 20px 20px;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease;
    text-align: left;
    position: relative;
    margin: 15px;
    background: #f2f4f8;
}
.generic-banners .card:hover {
    height: auto;
    width: 27%;
    padding: 20px 20px;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.generic-banners .text-card h2 {
    text-align: center;
    width: 100%;
    margin: 0 auto 20px;
}
.generic-banners .noBackground .card {
}
.card figure {
}
.internal .generic-banners .card img {
    height: auto;
}
.generic-banners .card img {
    height: 140px;
    margin-bottom: 30px;
}
.change-background {
    background: #002f87f0;
    -webkit-transition: background .5s;
    transition: background .5s;
}
.paragrafo-box h4 {
    color: #002f87;
}
.no-animations {
    opacity: 1 !important;
    animation: none !important;
    transition: none !important;
}
@keyframes start-animation {
    0% {
    transform: translateX(-200px);
    opacity: 0;
}
90% {
    transform: translateX(50px);
    opacity: .5;
}
100% {
    transform: translateX(0);
    opacity: 1;
}
}
.item.start-animation {
    animation: yourAnimation2 .7s forwards .3s ease;
}
.entando-banner img {
    opacity: 0;
    animation: yourAnimation3 1.7s forwards .3s ease;
}
@keyframes yourAnimation2 {
    0% {
        transform: rotate(0) translateX(-300px);
        opacity: 1;
    }
    76% {
        transform: rotate(0) translateX(10px);
        opacity: .76;
    }
    100% {
        transform: rotate(0) translateX(0);
        opacity: 1;
    }
}
.entando-banner h1 {
    animation: yourAnimation2 .7s forwards .3s ease;
}
@keyframes yourAnimation2 {
    0% {
        transform: rotate(0) translateX(-300px);
        opacity: 0;
    }
    76% {
        transform: rotate(0) translateX(10px);
        opacity: .56;
    }
    100% {
        transform: rotate(0) translateX(0);
        opacity: 1;
    }
}
@keyframes yourAnimation4 {
    0% {
        transform: rotate(0) translateX(100px);
        opacity: 1;
    }
    76% {
        transform: rotate(0) translateX(-10px);
        opacity: .56;
    }
    100% {
        transform: rotate(0) translateX(0);
        opacity: 1;
    }
}
.entando-banner-lateralImage {
    animation: yourAnimation3 1s forwards .25s ease-all;
}
@keyframes yourAnimation3 {
    0% {
        transform: rotate(0) scale(.4) translateY(0%);
        opacity: 0;
    }
    100% {
        transform: rotate(0) scale(1) translateY(0);
        opacity: 1;
    }
}
.left-image img.start-animation {
    animation: skewx 1s forwards .35s ease;
}
@keyframes skewx {
    0% {
        transform: rotate(0) scale(.7) skewX(0) skewY(-25deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0) scale(1) skewX(0) skewY(0deg);
        opacity: 1;
    }
}
.left-image img.start-animation:nth-child(1) {
    max-width: 100%;
    animation: fromUp 1s forwards .35s ease;
}
@keyframes fromUp {
    0% {
        opacity:0;
        transform: rotate(0) scale(.4) translateY(-30%);
    
    }
    100% {
        transform: rotate(0) scale(1) translateY(0);
        opacity: 1;
    }
}
.left-image h2.start-animation {
    animation: fromLeft 1s forwards .6s ease;
    opacity: 0;
}
@keyframes fromLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.left-image a.entando-banner-btn.start-animation {
    opacity: 0;
    animation: fromBelow 3s forwards .9s ease;
}
@keyframes fromBelow {
    0% {
    transform: rotate(0) scale(.2) translateX(-40%);
    opacity: .75;
}
100% {
    transform: rotate(0) scale(1) translateX(0);
    opacity: 1;
}
}
.right-image img.img-responsive.start-animation {
    opacity: 0;
    animation: fadeIn 4s forwards 0s ease-in-out;
}
@keyframes fadeIn {
    0% {
    transform: rotate(0) scale(.56);
    opacity: 0.2;
}
100% {
    transform: rotate(0) scale(1);
    opacity: 1;
}
}
.left-image p.start-animation {
    animation: slideInRight 1.2s forwards 0s ease-in-out;
}
@-webkit-keyframes slideInRight {
    from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}
.paragrafo-flex .card:nth-child(1).start-animation,.paragrafo-flex .card:nth-child(6).start-animation {
    opacity: 0;
    animation: bouceUP 1s forwards .65s ease-in-out;
}
@keyframes bouceUP {
    from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}
.paragrafo-flex .card {
    opacity: 0;
}
.paragrafo-flex .card:nth-child(2).start-animation,.paragrafo-flex .card:nth-child(4).start-animation {
    opacity: 0;
    animation: comingUp 1s forwards .35s ease-in-out;
}
@keyframes comingUp {
    0% {
    transform: rotate(0) scale(.1);
    opacity: 0;
}
72% {
    transform: rotate(0) scale(1.2);
    opacity: .75;
}
100% {
    transform: rotate(0) scale(1);
    opacity: 1;
}
}
.paragrafo-flex .card:nth-child(3).start-animation,.paragrafo-flex .card:nth-child(5).start-animation {
    opacity: 0;
    animation: fadeInRight 1s forwards .80s ease-in-out;
}
@keyframes fadeInRight {
    from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}
.internal .navbar-brand {
    height: 51px;
    width: 200px;
    background: url(../img/Entando_Logo_Dark_Blue.svg);
    background-repeat: no-repeat;
}
.internal .entando-navbar {
    background: #fff;
    color: #053489;
    height: 86px;
    margin-top: 2px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}
.internal .entando-navbar-fixed {
    height: 32px;
    background: #c32727;
    position: absolute;
    width: 100%;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 1020;
    color: #fff;
}
.internal .entando-navbar-menu a.nav-link {
    color: #002F87;
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    outline: none;
    display: inherit;
}
.internal .entando-language a {
    color: #002F87;
    font-size: 12px;
    text-transform: uppercase;
}
.internal .entando-central a {
    color: #002F87;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 1rem;
}
.internal .entando-login a {
    color: #002F87;
    font-size: 12px;
    text-transform: uppercase;
}
.internal .entando-navbar-fixed {
    color: #002F87;
    height: 32px;
    background: #ffffff;
    width: 100%;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    border-top: 4px solid #00A0DF;
    margin-bottom: 6px;
}
.internal a.entando-login-yes {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.internal a.entando-login-no:hover {
    color: #fff;
}
.internal a.entando-login-yes:hover {
    color: #002F87;
}
.generic-paragraphs {
    padding: 90px 0;
}
.generic-paragraphs .intro-content .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin: 20px auto;
}
.box {
    width: 50%;
    padding: 4% 0;
}
.switching-paragraphs h3,.switching-paragraphs h3 p {
    color: #002f87;
}
.switching-paragraphs {
    display: flex;
    padding: 0 8rem;
}
.switching-paragraphs:nth-child(even) {
    background: #fff;
}
.switching-paragraphs:nth-child(odd) .pos:nth-child(odd) {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
}
.switching-paragraphs:nth-child(odd) {
    background-color: #F2F4F8;
}
a {
    -webkit-transition: color .12s cubic-bezier(.455, .03, .515, .955);
    transition: color .32s cubic-bezier(.455, .03, .515, .955);
    transition: all 0.3s ease}
a:hover .fas {
    transform: translateX(5px);
}
a.entando-banner-lnk {
    position: relative;
    text-decoration: none;
    color: #0541B2;
}
a.entando-banner-lnk:after {
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 900;
    position: relative;
    transform: translateX(50%);
    top: 2px;
    right: -11px;
    transition: all .2s;
    color: #00A0DF;
}
a.entando-banner-lnk:hover:after {
    content: "\f061";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    right: -19px;
}
.pos {
}
.switching-paragraphs img {
    width: 70%;
}
.generic-paragraphs .paragrafo-box h3 {
    color: #0541B2;
    margin-bottom: 20px;
}
.generic-paragraphs .paragrafo-box p {
    margin-bottom: 30px;
}
.generic-paragraphs .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin: 0 auto 20px;
    height: 2px;
    line-height: 2px;
}
.entando-internal-banner-white {
}
.central-wrapper {
}
.link-bar {
    position: relative;
}
.writing-box {
    position: relative;
    height: auto;
}
.writing-box h2 {
    margin-bottom: 30px;
}
.link-bar .entando-banner-btn:last-child {
    width: 248px;
    margin: 0;
    background: linear-gradient(180deg, #00CEF1 0%, #00A0DF 100%);
    padding: 20px 10px;
    height: 59px;
    line-height: 59px;
}
.link-bar .entando-banner-btn:last-child {
    width: 248px;
    margin-left: 20px;
    background: linear-gradient(180deg, #00CEF1 0%, #00A0DF 100%);
    padding: 20px 10px;
    height: 59px;
    line-height: 59px;
}
.wrapper-internal {
    display: flex;
    padding: 140px 8rem;
}
.generic-banners-avatar .box-content {
    border-bottom: 1px solid rgba(0, 47, 135, 0.25);
    ;
}
.box-avatar {
    width: 40%;
}
.generic-banners-avatar p.medium {
    margin: 0;
}
.generic-banners-avatar p.medium.name {
    margin: 20px 0 0;
    color: #002f87;
    font-weight: 600;
}
.generic-banners-avatar .avatar p.medium.descr {
    margin: 0 0 0;
}
.generic-banners-avatar img {
    margin: 20px 0px 0px;
}
.generic-banners-organizations .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin: 0 auto 20px;
}
.generic-banners-organizations .organizations-box {
    padding: 4.75rem;
}
.generic-banners-organizations h4 {
    padding: 0;
    color: #002f87;
}
.generic-banners-organizations h4 p {
    padding: 0;
    color: #002f87;
}
.organizations-box img {
    margin-bottom: 30px;
}
.generic-banners-organizations {
    padding: 90px 8rem;
}
.generic-banners-organizations .wrapper-internal {
    display: flex;
    padding: 0;
}
.login-form-container .form-group input::-webkit-input-placeholder {
    color: #002F87;
    font-size: 18px}
.login-form-container .form-group input::placeholder {
    color: #002F87;
    font-size: 18px}
.login-form-container .form-group input:-ms-input-placeholder {
    color: #002F87;
    font-size: 18px}
.login-form-container .form-group::-ms-input-placeholder {
    color: #002F87;
    font-size: 18px}
.login-form-container {
    background: transparent url(../img/background_login_form.png) no-repeat fixed center;
    border: 1px solid white;
}
.login-form-container .login-form {
    background: white;
    width: 100%;
    max-width: 653px;
    padding: 50px;
    margin: 2rem auto;
}
.login-form-container .login-form-partner-info {
    margin-top: 35px;
    margin-bottom: 48px;
    padding: 20px;
    text-align: center;
}
.login-form-container .form-group input {
    height: 59px;
    width: 100%;
    max-width: 553px;
}
.login-form-container .form-group input.form-control {
    border: 1px solid #002F87;
}
.login-form-container .back-homepage {
    margin-top: 2rem;
}
.entando-footer {
    border-top: 1px solid #4D4D4D;
}
.entando-footer .entando-container {
    display: flex;
    padding-top: 81px;
    position: relative;
    justify-content: flex-start;
}
.entando-footer .entando-footer-logo {
    margin: 0 0.8rem;
    padding-top: 5px;
    height: 50px;
    width: 193px;
    background: url(../img/Entando_Logo_Dark_Blue.svg);
    background-repeat: no-repeat;
}
.entando-footer .entando-footer-container-content {
    width: 20%;
    margin: 0 auto;
    padding: 0 3%;
}
.entando-footer .entando-footer-dropdown.dropdown {
    display: block;
    padding-left: 0.5rem;
}
.entando-footer .entando-footer-dropdown.dropdown a[href$="#"] {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    font-size: 18px;
    color: #002F87;
    text-transform: uppercase;
    outline: none;
}
.entando-footer .entando-footer-title.dropdown-toggle {
    display: block;
    text-decoration: none;
    pointer-events: none;
}
.entando-footer a.entando-footer-title {
    color: #002F87;
    font-size: 18px;
    letter-spacing: -0.17px;
    line-height: 30px;
    padding: 0 0 24px 0;
}
.entando-footer .entando-footer-title.dropdown-toggle::after {
    content: none;
}
.entando-footer .entando-footer-dropdown-menu.dropdown-menu {
    display: block;
    border: none;
    position: static;
}
.entando-footer .entando-footer-dropdown-item.dropdown-item {
    padding: 0 0 20px;
    font-size: 18px;
    color: #4D4D4D;
}
.entando-footer .entando-footer-dropdown-item.dropdown-item a {
    text-decoration: none;
}
.entando-footer a.entando-footer-dropdown-item.dropdown-item:hover {
    background-color: transparent}
.entando-social-sharing {
}
.entando-social-sharing .entando-social-sharing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.8rem;
}
.entando-social-sharing .entando-social-sharing-container .entando-social-sharing-content {
    padding-right: 0.8rem;
}
.entando-copyright-vatcode-privacy-cookie-sitemap .entando-copyright-vatcode {
    font-size: 16px;
    color: #616161;
}
.entando-social-sharing-content a img {
    width: 38px;
    height: 38px;
    border: none;
}
.entando-copyright-vatcode-privacy-cookie-sitemap .row {
    margin: 2rem 0.8rem;
}
.entando-copyright-vatcode-privacy-cookie-sitemap .entando-privacy-policy-cookie-sitemap-content {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer-divider {
    margin: 0 10px;
}
.entando-copyright-vatcode-privacy-cookie-sitemap .entando-privacy-policy-cookie-sitemap-content a {
    text-decoration: none;
    color: #013496;
    font-size: 18px;
}
.box-content .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin: 20px 0;
}
.entando-centered-banner .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin: 0 auto 20px;
}
.entando-centered-banner .btn-entando-quote {
    margin: 0 auto;
}
.generic-banners .paragrafo-flex {
    text-align: left;
}
.internal .paragrafo-flex-title {
    min-height: 80px;
}
.generic-banners .paragrafo-flex p {
    color: #000;
}
.generic-banners .paragrafo-flex h4 p {
    color: #002F87;
    min-height: 74px;
}
.generic-hubspot-form {
    padding: 90px 0;
    margin: 0;
    background: #F2F4F8;
}
.generic-hubspot-form .wrapper-internal {
    display: flex;
    padding: 0 8rem;
}
.hbspt-form select,.hbspt-form input[type="email"],.hbspt-form input[type="text"],.form-webform input[type=text]:not(:focus) {
    color: #000000;
}
.hbspt-form input[type="text"],.hbspt-form input[type="email"],.hbspt-form input[type="tel"],.hbspt-form textarea,.hbspt-form select {
    font-size: 18px;
    font-weight: 300;
    width: 96%;
    height: 48px;
    display: block;
    border-radius: 2px;
    border: 1px solid #e1e2e2;
    padding-left: 16px;
    margin: 0px 0 10px 16px;
    position: relative;
}
.hub-form .hbspt-form .hs-button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    padding: 20px 10px;
    height: 60px;
    line-height: 20px;
    background: linear-gradient(180deg, #00CEF1 0%, #00A0DF 100%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 0;
}
.hbspt-form .hs-button:hover {
    color: #fff;
    text-decoration: none;
}
.hub-form .hs_recaptcha.hs-recaptcha.field.hs-form-field {
    margin: 30px 0;
}
.inputs-list .hs-error-msg {
    font-weight: 300;
    position: relative !important;
    top: -22px !important;
    left: -0 !important;
    color: #FF0000;
}
label span.hs-form-required {
}
.legal-consent-container .inputs-list .hs-error-msg {
    font-weight: 300;
    position: relative !important;
    top: -10px !important;
    left: -0 !important;
    color: #FF0000;
}
.hs-form-required {
    color: #FF0000;
    display: none;
}
.hs-custom-style fieldset input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]),.hs-custom-style>div input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
    box-sizing: border-box;
    padding: 0 29px;
    min-height: 27px;
}
.demo1o1 .hs-custom-style fieldset input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]),.hs-custom-style>div input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
    box-sizing: border-box;
    padding: 0px 47px;
    min-height: 27px;
}
.hs-form-bdb7257f-106f-47c3-ab07-415b1cb482f7_af05909c-09f2-46e4-8f00-3b71bf0a28ac .hs-button,.hs-form-bdb7257f-106f-47c3-ab07-415b1cb482f7_af05909c-09f2-46e4-8f00-3b71bf0a28ac .hs-button:hover,.hs-form-bdb7257f-106f-47c3-ab07-415b1cb482f7_af05909c-09f2-46e4-8f00-3b71bf0a28ac .hs-button:hover:not(.inactive),.hs-form-bdb7257f-106f-47c3-ab07-415b1cb482f7_af05909c-09f2-46e4-8f00-3b71bf0a28ac .hs-button:focus,.hs-form-bdb7257f-106f-47c3-ab07-415b1cb482f7_af05909c-09f2-46e4-8f00-3b71bf0a28ac .hs-button:active,.hs-form-bdb7257f-106f-47c3-ab07-415b1cb482f7_af05909c-09f2-46e4-8f00-3b71bf0a28ac .hs-button:active:not(.inactive):not(.link) {
    background: #00A0DF;
    border-color: #00A0DF;
    color: #ffffff;
    font-size: 12px;
    font-family: Roboto;
}
.hub-form .hbspt-form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    max-width: 100% !Important;
    position: relative;
}
.hub-form .hbspt-form input[type="text"],.hub-form .hbspt-form input[type="email"],.hub-form .hbspt-form input[type="tel"],.c,.hub-form .hbspt-form select {
    font-size: 18px;
    font-weight: 300;
    width: 100% !important;
    height: 59px !important;
    display: block;
    border-radius: 2px;
    border: 1px solid #002F87 !important;
    padding-left: 29px;
    margin: 0px 0 20px 0;
    position: relative;
    font-family: Roboto-Light, sans-serif;
    border-radius: 0 !important;
}
.hub-form .hbspt-form select,.hub-form .hbspt-form input[type="email"],.hub-form .hbspt-form input[type="text"],.hub-form .form-webform input[type=text]:not(:focus) {
    color: #002F87 !important;
    background: #FFFFFF;
}
.hub-form ul.no-list.hs-error-msgs.inputs-list {
    position: relative;
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 13px;
}
.hub-form .legal-consent-container input ul {
    text-align: left;
    display: flex;
}
.hub-form .legal-consent-container label {
    display: flex;
    align-items: baseline;
}
.hub-form ul.inputs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.hub-form .submitted-message {
    margin-top: 20%;
}
.hub-form ul.inputs-list p {
    font-size: 18px;
    letter-spacing: -0.17px;
    line-height: 30px;
    height: 30px;
    color: #4D4D4D;
}
.hub-form .hs_submit.hs-submit {
    text-align: left;
    padding: 0;
}
.hub-form h1 {
    margin-bottom: 20px;
    padding: 0;
}
.legal-consent-container {
    margin-top: -20px;
}
.hub-form p {
    color: #000;
    font-family: Roboto-regular, sans-serif;
    font-size: 22px;
    letter-spacing: -0.19px;
    line-height: 34px;
    text-transform: unset;
    margin-bottom: 40px;
}
.generic-hubspot-form .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin: 0 auto 20px;
}
.hub-form label {
    display: inline-block;
    margin-bottom: 0;
}
.hub-form .hs_error_rollup label {
    color: red;
    font-size: 18px;
    letter-spacing: -0.17px;
    line-height: 30px;
    height: 30px;
}
.hub-form fieldset.form-columns-2 .input {
    margin-right: 20px;
}
.entando-centered-banner-writings h2 {
    padding: 0;
}
.white-writing .bg-clear h2 p {
    color: #fff;
    padding: 1rem 4rem;
}
.single-box h2 {
}
.single-box p.medium {
    margin: 0 0 90px;
}
.single-box img {
    margin: 30px 0;
}
.bg-blue p,.bg-blue h2 p {
    color: #fff;
}
.bg-color p.subtitleH2 {
    width: 70%;
    color: #fff;
    font-size: 22px;
    letter-spacing: -0.2px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
}
.cards {
    width: 19vw;
    height: 19vw;
    margin: 15px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
    outline: none;
}
.btn-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: none;
}
.cards:hover .btn-image,.cards:focus .btn-image {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.cards:hover .btn-image:before,.cards:focus .btn-image:before {
    display: block;
}
.cards:hover a,.cards:focus a {
    display: block;
}
.image-banners {
    color: #000;
    padding: 90px 8rem 90px;
    overflow: hidden;
}
.image-banners .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin: 0 auto 20px;
}
.image-banners .text-card {
    text-align: center;
}
.image-banners p.subtitleH2 {
    width: 70%;
    color: #4D4D4D;
    font-size: 22px;
    letter-spacing: -0.2px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto 30px;
}
.image-banners .modal-content {
    position: relative;
    display: -ms-flexbox;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .3rem;
    outline: 0;
}
.image-banners .paragrafo-flex {
    display: flex;
    justify-content: center;
    margin: 0 4px;
    width: 100%;
    flex-wrap: wrap;
}
.link.text-center {
    margin: 0px 0 70px 0;
}
.btn-accordion svg {
    color: #002F87;
    font-size: 26px;
    margin-right: 54px;
    margin-left: 30px;
    transition: all 0.3s ease;
}
.btn-accordion.collapsed svg {
    transform: rotate(180deg);
    color: #002F87;
    font-size: 26px;
}
.btn-accordion.collapsed {
    border-bottom: 1px solid #979797;
}
.btn-accordion {
    height: 100px;
    width: 100%;
    text-align: left;
    font-family: Roboto-Light, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: -0.56px;
    color: #00A0DF;
    border: none;
    border-top: 1px solid #979797;
    border-bottom: 0px solid #979797;
    margin-top: -1px;
    outline: none;
    background: #fff;
    display: flex;
}
.btn-accordion p {
    font-family: Roboto-Light, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: -0.56px;
    line-height: normal;
    color: #002F87;
    margin: 0;
}
.accordion-banners .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0;
}
.accordion-banners .card-body {
    min-heigh: 323px;
    color: #4D4D4D;
    font-size: 20px;
    letter-spacing: -0.19px;
    line-height: 34px;
    padding: 0 0 90px 120px;
    border-bottom: 1px solid #979797;
}
.accordion-banners .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin-bottom: 20px;
    margin-top: 40px;
}
.accordion-banners h2 {
    margin-bottom: 60px;
}
.accordion-banners {
    margin-bottom: 30px;
}
.accordion-banners .bg-color p.subtitleH2 {
    width: 100%;
    color: #000;
    font-size: 22px;
    letter-spacing: -0.2px;
    line-height: 35px;
    text-align: left;
    margin: 0 0 60px 0;
}
.unordered-list .h3 p {
    font-family: Roboto-Light, sans-serif;
    color: #002f87;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.56px;
    line-height: 46px;
    margin-top: 60px;
}
.unordered-list p {
    color: #4D4D4D;
    font-size: 20px;
    letter-spacing: -0.19px;
    line-height: 34px;
}
p strong {
    color: #4D4D4D;
    font-size: 20px;
    letter-spacing: -0.19px;
    line-height: 34px;
    font-weight: 900;
}
.unordered-list ul {
    margin-left: 0px;
}
.unordered-list li {
    color: #4D4D4D;
    font-size: 20px;
    letter-spacing: -0.22px;
    line-height: 40px;
    margin: 30px 0;
}
.unordered-list li strong {
    color: #002f87;
}
.hbspt-form .hs_cv.hs-cv.hs-fieldtype-file.field.hs-form-field {
    background: white;
    border: 1px solid #002F87;
    width: 49.37%;
}
.hbspt-form .hs_cv.hs-cv.hs-fieldtype-file.field.hs-form-field label {
    display: none;
    float: left;
    font-size: 18px;
    color: #002F87;
    pointer-events: none;
}
.hbspt-form .hs_cv.hs-cv.hs-fieldtype-file.field.hs-form-field label.hs-error-msg {
    color: red;
    font-size: 13px;
}
.hbspt-form input[type="file"] {
    color: #002F87;
    position: relative;
    width: 100%;
    margin: 3px;
    font-size: 17px;
    height: 36px;
    line-height: 49px;
    padding: 0px 0 0 76px;
    height: 51px;
}
.hbspt-form input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
.hbspt-form input[type="file"]::before {
    font-family: "Font Awesome 5 Free", Roboto-Light, sans-serif;
    content: '\f093';
    font-weight: 600;
    line-height: 53px;
    color: #868686;
    padding: 2px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    position: absolute;
    top: -3px;
    left: 20px;
}
.hbspt-form input[type="file"]::after {
    font-family: "Font Awesome 5 Free", Roboto-Light, sans-serif;
    content: ' Upload CV file *';
    font-weight: 500;
    color: #4d4d4d;
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 50px;
    font-size: 16px;
    padding: 0px;
    width: 113px;
}
.hbspt-form input[type="file"]:active {
    outline: 0;
}
.hbspt-form input[type="file"]:hover::before {
    border-color: #002F87;
}
.hbspt-form input[type="file"]:active::before {
    background: transparent;
}
.cards-4 {
    width: 13vw;
    height: 13vw;
    margin: 15px;
    white-space: nowrap;
    background: #fff;
    text-align: center;
    margin: 15px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.a-image {
    vertical-align: middle;
}
.text-card .blue-bg h2 p,.blue-bg p.subtitleH2,.blue-bg p.subtitleH2 p {
    color: #fff;
}
.organizations-box-2,.organizations-box-2card {
    text-align: left;
}
.organizations-box-2card h4 {
    color: #0541B2;
}
.hbspt-form textarea {
    width: 100% !important;
    height: 134px;
    border: 1px solid #002F87 !important;
    font-size: 18px !important;
    font-family: Roboto-Light, sans-serif;
    padding-left: 29px;
    margin: 0;
}
.hbspt-form .form-columns-2 textarea {
    width: 100% !important;
    height: 59px;
    border: 1px solid #002F87 !important;
    font-size: 18px !important;
    font-family: Roboto-Light, sans-serif;
    padding-left: 29px;
    margin: 0;
    border-radius: 0;
}
.entando-faq {
    padding: 90px 0;
    margin: 0;
}
.entando-faq h4,h4 p {
    color: #0541B2;
}
.entando-faq .entando-faq-category {
    padding: 0;
    margin: 4.75rem;
    width: auto;
}
.entando-faq .entando-faq-container {
    margin: 0 4.75rem;
}
.entando-faq .entando-faq-category .nav-item.current {
    border-bottom: 2px solid #00A0DF;
}
.entando-faq .entando-faq-category a.nav-link {
    padding-left: 0;
    min-width: 110px;
}
.entando-faq .entando-faq-category .nav-link {
    color: #4D4D4D;
}
.entando-faq .entando-faq-category .nav-link.current {
    color: #002F87;
}
#bzOpeningsContainer .bzOpeningsCategoryList,.bzOpeningsList,.bzMeta {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#bzOpeningsContainer h1 {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}
#bzOpeningsContainer h2 {
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: left;
    color: #033AA4;
    font-family: Roboto-light, sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.28px;
    line-height: 36px;
    padding: 0;
}
.box-careers {
    margin: 0 12px;
}
#bzOpeningsContainer li.bzOpeningsCategory:not(first-child) {
    margin-top: 50px}
#bzOpeningsContainer .bzOpeningsList li a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#bzOpeningsContainer ul.bzMeta {
    text-align: left;
    margin: 0;
    padding: 0;
}
#bzOpeningsContainer .bzMeta li {
    display: inline-block;
    height: 30px;
    color: #6C6C6C;
    font-family: Roboto-light, sans-serif;
    font-size: 18px;
    letter-spacing: -0.17px;
    line-height: 30px;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 30px;
}
#bzOpeningsContainer .bzButtonApply {
    float: right;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    width: 148px;
    margin: 15px 0;
    background: linear-gradient(180deg, #00CEF1 0%, #00A0DF 100%);
    padding: 20px 10px;
    height: 59px;
    line-height: 22px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
li.bzOpening {
    border-bottom: 1px solid grey;
}
.entando-pagination.pagination .page-item.active .page-link {
    background-color: #002F87;
    color: #ffffff;
}
.entando-pagination.pagination .page-item.active .page-link:hover {
    background: #002F87;
}
.entando-pagination.pagination .page-item .page-link {
    border: 1px solid #002F87;
    border-radius: 0px;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    color: #002F87;
}
.entando-pagination.pagination .page-item .page-link:hover {
    background: transparent;
}
.address-banners .card {
    min-height: 237px;
    width: 27%;
    padding: 20px 20px;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease;
    text-align: left;
    position: relative;
    margin: 15px;
}
.address-banners .card.card-gray {
    background: #f2f4f8;
    padding: 0 36px;
}
.address-banners .paragrafo-flex {
    display: flex;
    justify-content: center;
    margin: 0 4px;
    width: 100%;
    flex-wrap: wrap;
}
.address-banners .text-card h4 {
    color: #002F87;
    font-size: 30px;
    margin-top: 0;
}
.address-banners .text-card h4 p {
    color: #002F87;
    font-size: 30px;
    margin: 78px 0 3px 0;
}
.address-banners .text-card p {
    margin: 20px 0 60px 0;
}
.address-banners .col-address p:first-child {
    color: #002F87;
    font-size: 30px;
    font-family: Roboto-Light, sans-serif;
    font-weight: 300;
    letter-spacing: -0.28px;
    line-height: 36px;
    margin-bottom: 10px;
}
.address-banners .col-address p {
    margin: 0;
    color: #4D4D4D;
    font-size: 18px;
    letter-spacing: -0.17px;
    line-height: 30px;
    text-align: center;
}
.address-banners .line_title {
    border-top: 2px solid;
    width: 70px;
    color: #19bcff;
    margin-bottom: 20px;
    margin: 20px auto;
}
.address-banners .paragrafo-address {
    margin-top: 30px;
}
.address-banners {
    padding: 90px 0;
}
.address-banners .link {
    margin: -44px 0 44px 0;
}
.generic-banners .col-md-6.col-12 {
    display: flex;
    justify-content: center;
}
.generic-banners .box-center {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: center;
}
figure {
    /* margin: 0; */
}
.hide-me {
    display: block;
}
.entando-footer-container-content .dropdown-toggle::after {
    display: none;
}
.detail-right {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
}
.right-details {
    margin: 30px 0;
}
.variable-box {
    display: flex;
    position: relative;
    margin-bottom: 90px;
}
.variable-box .boxes {
    width: 50%;
}
.img-box img {
    max-width: 100%;
    padding: 13px;
}
.variable-box .img-box img {
    max-width: 100%;
    padding: 13px;
}
.variable-box .img-box {
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
    outline: none;
    width: 30vw;
    height: 30vw;
}
.img-box {
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 22vw;
}
.box-content .category {
    height: 30px;
    width: 339px;
    color: #002F87;
    font-size: 18px;
    letter-spacing: -0.17px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.variable-box .boxes h2,.variable-box .boxes h2 p {
    font-family: Roboto-bold, sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: -0.66px;
    line-height: 66px;
}
.boxes h2,.boxes h2 p {
    font-family: Roboto-light, sans-serif;
    color: #000;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.28px;
    line-height: 36px;
    transition: all .5s;
}
.variable-box .boxes .date-author {
    position: relative;
    height: 30px;
    width: 339px;
    color: #6C6C6C;
    font-size: 18px;
    letter-spacing: -0.17px;
    line-height: 30px;
}
.variable-box .boxes .box-content {
    padding: 2rem;
}
.boxes .box-content {
    padding: 40px 0;
}
.boxes .date-author {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 339px;
    color: #6C6C6C;
    font-size: 18px;
    letter-spacing: -0.17px;
    line-height: 30px;
}
.boxes:hover .btn-image,.boxes:focus .btn-image {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.boxes:hover .btn-image:before,.boxes:focus .btn-image:before {
    display: block;
}
.boxes:hover a,.boxes:focus a {
    display: block;
}
.nav-pagination {
    padding: 30px 2px;
}
.nav-pagination ul li {
    padding-left: 12px;
}
.col-md-4.col-12:hover a h2,.variable-box.col-12:hover a h2 {
    text-decoration: underline;
    color: #002F87;
}
.col-md-4.col-12 a h2,.variable-box.col-12 a h2 {
    text-decoration: none;
}
.image-banners.bg-gray {
    background: #F2F4F8;
}
.detail-boxe h3 p,.detail-boxe h3 {
    color: #0541B2;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.37px;
    line-height: 46px;
    margin: 30px 0 20px;
}
.detail-boxe-image {
    padding: 30px 0;
}
.detail-boxe-image img {
    width: 100%;
}
.boxes {
    margin: 0 15px;
}
.webinar-link-bar {
    margin: 2rem 0;
}
.bg-gray {
    background: #F2F4F8;
}
.webinar-card {
    margin: .89%;
    position: relative;
    padding: 1rem;
    width: 31.5%;
}
.webinar-card .date {
    position: absolute;
    bottom: 0px;
    color: #787878;
    font-size: 16px;
    letter-spacing: -0.15px;
    line-height: 30px;
    text-transform: uppercase;
}
.webinar-card hr {
    position: absolute;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
    width: 91%;
    bottom: 120px;
}
.webinar-card h4,.webinar-card h4 p {
    color: #000;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.28px;
    line-height: 36px;
}
.webinar-card .link {
    position: absolute;
    bottom: 50px;
}
.webinar-card .static-bottom {
    position: relative;
    height: 171px;
}
.image-banners.bg-color h2 {
    text-align: center;
}
.blue-date {
    color: #002F87;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 35px;
    margin-bottom: 20px;
}
.generic-wrapper {
}
.generic-banners-avatar .wrapper-internal {
    padding: 90px 8rem;
}
.box-content p {
    margin-top: 20px;
}
.variable-box .boxes h2,.variable-box .boxes h2 p,.box-content .a-link h2,.box-content .a-link h2 p {
    text-align: left;
}
.youtube {
    position: absolute;
    left: 0;
    width: 100%;
}
.paragrafo-flex-title {
    min-height: 114px;
    text-transform: capitalize;
}
.paragrafo-flex-subtitle {
    letter-spacing: -0.17px;
    line-height: 30px;
}
.modal-dialog-centered {
    width: 60%;
    max-width: 60%;
}
.hs_cv .input {
}
.blog {
    margin-left: 1rem;
    margin-bottom: 90px;
    position: relative;
    left: -1rem;
}
.blog-filter-container {
    display: flex;
    flex-direction: row;
    width: 99.6vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    background: #F2F4F8;
}
.blog-title {
    width: 30%;
    margin: auto 0 auto 1rem;
}
.blog-title h3 {
    color: #002F87;
}
.blog-items {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto 0;
}
.blog-item a.nav-link {
    font-size: 16px;
    color: #4D4D4D;
    padding: 0;
    width: 200px;
    margin: 5px;
}
.blog-items li:after {
    color: transparent;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: relative;
    width: 0%;
    height: 2px;
    border: 1px solid;
    transition: .3s ease;
}
.blog-items li:hover::after {
    color: #00a0df;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: relative;
    width: 30%;
    height: 2px;
    border: 1px solid;
}
.cards-4 img {
    max-width: 80%;
}
.entando-internal-banner.dark h1,.entando-internal-banner.dark h1 p,.entando-internal-banner.dark .subtitleH1 p,.entando-internal-banner.dark .subtitleH1 {
    color: #fff;
}
.bar-content-edit {
    position: absolute;
}
.left-image {
    display: flex;
    flex-direction: row;
}
.image-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content-text-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-wrapper {
    display: flex;
    flex-direction: row;
    width: 99.6vw;
    height: 250px;
    padding: 0px 8rem;
}
.box-avatar .avatar {
    padding: 0 0 0 20px;
}
.box-content {
    overflow: hidden;
}

.paragrafo-flex .card img {
    max-width:100%;
    height:auto;
}