@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.page h1 {
  color: #002F87;
}

.theme-container .sidebar {
  background: #F3F4F8;
}

.theme-container .navbar {
  background: linear-gradient(90deg, #01CEF1 4.38%, #019AE0 95.16%);
}

.theme-container .navbar .logo {
  height: 2em;
  width: 12em;
}

.theme-container .navbar .site-name {
  color: white;
  font-weight: 500;
}

.theme-container .navbar .links {
  background: transparent;
  color: white;
}

.theme-container .navbar .home-link * {
  vertical-align: middle;
}

.sidebar-links .sidebar-heading.clickable.active {
  font-weight: bold;
}

.nav-links a:hover, .nav-links a.router-link-active {
  color: white !important;
  font-weight: 600;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
  border-bottom: 0 !important;
}

.nav-links {
  text-transform: uppercase;
}

.nav-links .icon.outbound {
  display: none;
}

.links .search-box input {
  border: 1px solid transparent;
  border-radius: 0;
}

.page .custom-block.tip {
  border-color: #00A0DF;
  background: #F3F4F8;
}