@font-face {
  font-family: Roboto;
  src: url('/theme/Roboto-Regular.ttf');
}

body {
    font-family: Roboto, sans-serif;
}

.page h1 {
  color: #002F87;
}

.theme-container .navbar {
  background: linear-gradient(90deg, #01CEF1 4.38%, #019AE0 95.16%);
}

.theme-container .navbar .logo {
  height: 2em;
  width: 12em;
}

.theme-container .navbar .site-name {
  color: white;
}

.theme-container .navbar .links {
  background: transparent;
  color: white;
  font-size: 20px;
  font-variant: small-caps;
}

.theme-container .navbar .home-link * {
  vertical-align: middle;
}

.nav-links a:hover, .nav-links a.router-link-active {
  color: white !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 900 !important;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
  border-bottom: 2px solid #00CEF1 !important;
}

.nav-links .icon.outbound {
  display: none;
}

.navbar a .can-hide {
  display: none;
}

.links .search-box input {
  border: 1px solid transparent;
  border-radius: 0;
}

.theme-container .sidebar {
  background: #F3F4F8;
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  opacity: 1 !important;
}

.sidebar-sub-headers a.sidebar-link.active {
  font-weight: 900 !important;
}

.page .custom-block.tip {
  border-color: #00A0DF;
  background: #F3F4F8;
}

a.sidebar-link.active {
  border-left: 8px solid #002f87;
}