$accentColor = #0060A8
$textColor = #041C2C

$entandoLightBlue = #67B0E2
$entandoYellow = #FDD822
$entandoGreen = #A4C621
$entandoPurple = #A27BB5
$entandoRed = #EE7957
$entandoDarkBlue = #041C2C

$navbarHeight = 5.4rem

//Additional styles for blogs
$blogNavbarHeight = 7rem
$darkTextColor = $entandoDarkBlue
$postTagBgColor = #ededed;
$postTagColor = darken($postTagBgColor,50%)
